
body {
    font-family: 'Exo 2', sans-serif;
    color: #575757;
    background-color: #f5f5f5;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    padding: 10px 30px !important;
    box-sizing: border-box;
    color: #fff !important;
    text-transform: uppercase !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.btn:hover {
    color: #fff;
}

.btn-gold {
    background: linear-gradient(90deg, #C0B481 54.67%, #D8D4C1 95.15%) !important;
}

.yachts_loop .btn {
    width: 60%;
}

.bg-dark-blue {
    background-color: #1C2148;
}

.text-gold {
    color: #C0B481;
}

a.text-gold:hover {
    color: #C0B481 ;
}

.text-main {
    color: #575757;
}

.feedback {
    font-family: 'Open Sans', sans-serif;
}

.feedback hr {
    border-bottom: 1px solid #C0B481 !important;
}

.contact_info {
    margin-bottom: 30px !important;
}

.contact_info input::placeholder {
    color: #575757 !important;
    font-size: 16px !important;
}

.contact_info input {
    padding: 15px !important;
    height: 100% !important;
    border: 1px solid #575757;
}

.feedback .col-md-6 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.feedback .col-md-6.first_col {
    padding-left: 7.5px !important;
}

.feedback .col-md-6.last_col {
    padding-right: 7.5px !important;
}

.subheader {
    color: #C0B481;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-bottom: .25rem !important;
    border-bottom: 1px solid #C0B481;
}

.subheader p {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Exo 2', sans-serif !important;
}

.form-control {
    height: 25px !important;
    border: 1px solid #575757 !important;
}

.form-group {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 15px !important;
    min-width: 20px !important;
    height: 25px !important;
}

.form-group label {
    display: flex !important;
    align-items: center;
    font-weight: normal !important;
    margin-right: 15px;

}

.form-group .radio, .form-group .checkbox {
    padding-bottom: 10px !important;
}

.form-group div {
    width: 100%;
}

.form-group p {
    font-size: 16px !important;
}

nav li {
    margin-left: .5rem;
    text-transform: uppercase;
}

nav a {
    color: #fff;
    font-weight: normal;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px;
}

.current-menu-item > a {
    color: #C0B481;
}

nav a:hover {
    color: #C0B481;
    text-decoration: underline;
}

.material-icons-outlined {
    font-family: 'Material Icons';
}

.navbar-toggler .material-icons-outlined {
    font-size: 48px;
    color: #C0B481;
}

.social-images-group img {
    margin-left: 1rem;
}

.dropdown-menu {
    background-color: #1C2148;
    border: none;
    top: 90%;
}

.blue-linear-bg {
    background: linear-gradient(89.89deg, #1F2552 60.38%, #5B5F7E 99.89%);
}

section.main {
    height: calc(100vh - 140px);
    background-image: url('../images/main-background.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;

}

section.main h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .5);
}

section.yachts, section.new-yacht {
    background-color: #f5f5f5;
}

section.image {
    min-height: 550px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.map {
    min-height: 200px;
}

section.news a {
    text-decoration: none;
}

section.news .img {
    height: 300px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.main-info {
    /*background-position: -50% center;*/
    background-repeat: no-repeat;
    background-size: contain;
}

.card {
    background-color: #fff;
    border-radius: 0;
    border: none;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.bordered {
    border: 1px solid #C0B481;
}

.accordion-header {
    background-color: #515679;
}

.caption {
    padding: 20px 0;
    background-color: rgba(0,0,0,.65);
    color: #fff;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100px);
}

.img {
    overflow: hidden;
}

.caption.active {
    transform: translateX(0);
}

.caption:hover {
    text-decoration: none;
}

.navigation {
    width: 100%;
    justify-content: center;
}

.navigation .nav-links {
    display: flex;
}

.navigation .page-numbers {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: #fff;
    font-size: 22px;
    color: #1C2148;
}

.navigation .page-numbers.current {
    color: #fff;
    background-color: #1C2148;
}

.all-yachts_card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 340px;
    overflow: hidden;
    transform: translateY(0);
}

.all-yachts_card, .all-yachts_card * {
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.caption {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.all-yachts_card .hidden_down {
    transform: translateY(120px);
}

.all-yachts_card:hover {
    background-color: rgba(0,0,0, .5);
    background-blend-mode: color;
}

.yachts_description {
    background-image: url('../images/Rectangle20.png');
    background-repeat: no-repeat;
    background-size: 20% 80%;
    background-position: 15% bottom;
}

@media (max-width: 1200px) {
    nav a {
        font-size: .8rem;
    }
}

@media (max-width: 990px) {
    section.main {
        background-position: center center;
    }
    section.main-info {
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .yachts_description {
        background-image: none;
    }
    .yachts_description img {
        width: 100% !important;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 1.5rem;
    }
    .blue-linear-bg {
        padding: .8rem 1rem !important;
    }
    section.main .col-md-6 {
        text-align: center;
    }
    section.main .col-md-6 .justify-content-end {
        justify-content: center !important;
    }
    .all-yachts_card {
        background-color: rgba(0,0,0, .5);
        background-blend-mode: color;
    }
    .all-yachts .pr-0 {
        padding-right: 15px !important;
    }
    .all-yachts .hidden_down {
        transform: translateY(0);
        padding: 0 0 15px 0 !important;
    }
}